.flow-controls-wrap {
  margin-top: 40px;
}

.mesh-flow__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  padding-top: 60px;
  font-weight: 400;
  color: $silver-chalice;
}

.mesh-powered {
  margin-top: 10px;
}

.mesh-flow {
  &__title {
    font-size: 36px;
    font-weight: bold;
    font-family: Montserrat Regular;
    color: #2D3436;
    margin-top: 10px;
  }
  &__message {
    margin-top: 40px;
    color: #2D3436;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.4;
  }
  &__footer {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
  }
}

.mesh-color-button {
  background-color: #0000c0;
  height: auto;
}

.create-seed__message {
  max-width: 570px;
}

.meshin-progress__title {
  color: #c0c0c0;
}
